.posts img{
    width: 100%;
}

.posts{
    /* border: 2px solid gray; */
    width: 800px;
    margin: auto;
}
.main{
    margin-top: 90px;
}
.posttitle{
    margin-bottom: 30px;
}
@media screen and (max-width:768px) {
    .posts{
        width: auto;
        margin: auto;
    }
}