.container{
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    margin: auto;
}
.buttonToggle{
    background: #efdca7;
    color:black;
    border:none;
    padding: 5px 25px;
}


.registeremail{
    padding: 10px;
    /* width: 300px; */
    outline: none;
    margin-bottom: 20px;
    border-radius: 6px;
}
.registerusername{
    padding: 10px;
    width: 50%;
    width: 300px;
    outline: none;
    margin-bottom: 20px;
    border-radius: 6px;
}
.registerpassword{
    padding: 10px;
    width: 50%;
    width: 300px;
    outline: none;
    margin-bottom: 20px;
    border-radius: 6px;
}

.registerbutton{
    background: #efdca7;
    color:black;
    border:none;
    padding: 5px 25px;
    width: 100px;
}
.loginemail{
    padding: 10px;
    width: 50%;
    width: 300px;
    outline: none;
    margin-bottom: 20px;
    border-radius: 6px;
}
.loginpassword{
    padding: 10px;
    width: 50%;
    width: 300px;
    outline: none;
    margin-bottom: 20px;
    border-radius: 6px;
}

.loginbutton{
    background: #efdca7;
    color:black;
    border:none;
    padding: 5px 25px;
    width: 100px;
}