
body {
  background-color: #0d1224;
  transition-duration: .3s;
  font-family: Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.btn {
  font-family: "Roboto";
  display: inline-block;
  padding: 14px 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}




/* Global CSS Ends */

/* Main Headings */

/* Heading 1 */
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}
/* Heading 2 */
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}
/* Heading 3 */
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

/* Pragraphs text large medium small */
/* Body 1 */
.text-lg {
  color: var(--darkblue);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
/* Body 2 */
.text-md {
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
/* Body 3 */
.text-sm {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

/* Section Titles */
/* Skills & About Me */
.section--title {
  color: #efdca7;
  font-size: 21px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
}


/* Navbar Style Start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 85.333px;
  box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  /* background: #efdca7; */
  backdrop-filter: blur(20px);
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.navbar img {
  width: 110px;
}
.navbar--items > ul {
  list-style: none;
  display: flex;
  
  align-items: center;
  gap: 42.667px;
  text-decoration: none;
}
.navbar--items ul > li > a {
  text-decoration: none;
}
/* Navbar Content */
.navbar--content {
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}


@media screen and (max-width:768px) {
  .logo--mobile{
  margin-left: -60px !important;   
}
}
  


/* Navbar Styler Ends */

/* Hero Section Style */
.hero--section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 133.333px 85.333px 133.333px;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.hero--section--content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.hero--section--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.333px;
  color: white;
}

.hero--section--content h1{
  font-size: 60px;
  font-weight: 700;
}

.hero--section--content .span {
  color: #1d96ec;
}

.btn-primary {
  background: white;
}
.btn-primary:hover {
  background: #efdca7;
  color: white;
}
.hero--section--content--box > button {
  margin-top: 21.333px;
}
.hero--section--title {
  color: var(--heading-color);
  font-size: 74.667px;
  font-weight: 700;
  line-height: 90px;
  align-self: stretch;
}
.hero--section--title--color {
  color: red;
}



.hero--section--img > img {
  width: 150px;
  height: 150px;
  position: absolute;
  transition: transform 0.5s, opacity 0.5s;
  cursor: pointer;
}


.img6{
  transform: translateY(120%);
}
.img5{
  transform: translate(120%, -100%);
  pointer-events: none;

}
.img4{
  transform: translate(-120%, 60%);
  pointer-events: none;

}
.img3{
  transform: translateY(120%);
  pointer-events: none;

}

 .img2 {
  transform: translate(-9rem, -9rem);
  pointer-events: none;

}


.img1 {
  transform: translate(120%, 80%);
  pointer-events: none;
}


@media screen and (max-width:768px){
  .about--section--box{
    padding: 10px;
  }
}


@media screen and (max-width:768px){
  .about--section--box{
    padding: 10px;
  }
  .hero--section{
    padding: 20px;
    margin-top:20%;
  }
}
/* Hero Section Style Ends */

/* Skills Section Style */
.skills{
padding: 20px;
border-bottom: 1px solid #191d34;
border-left: 1px solid #191d34;
border-right: 1px solidfabout #191d34;
width:100%;
}
.skills--section--img img {
  width: 30px;
  height: 30px;
  
}
.skills--section--card--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  color: white;
}
.skills--section--title {
  color: #efdca7;
  font-size: 10px;
  font-weight: 700;
  line-height: 45px;
  padding-bottom: 20px;

}
.skills--section--description {
  font-weight: 400 !important;
  line-height: 32px;
}
/* Skills Style Ends */


/* My Portfolio Starts */
.portfolio--section {
  display: flex; 
  padding: 112px 85px;
  flex-direction: column;
  gap: 80px; 
}
.section--heading {
  color: #efdca7;
}
.portfolio--container-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.portfolio--section--container {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.portfolio--section--card{
  /* background: red; */
  justify-content: center;
  align-items: center;
  margin: auto;
}

.portfolio--section--img {
  border-radius: 8px;
  border-radius: 10px;
  background: #000;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 200px;
}
.portfolio--section--img > img {
  margin-top: 40px;
}

@media screen and (max-width:768px) {
  .portfolio--section--card{
    margin: 0px;
  }  
  .portfolio--link{
    margin-bottom: 30px;
  }
  .portfolio--container-box{
    margin-bottom: 40px;
  }
  
}

@media screen and (max-width:420px) {
      .portfolio--section--container{
       margin: -75px;
       
  }
  .portfolio--link{
    margin-bottom: 30px;
  }
  .portfolio--container-box{
    margin-bottom: 40px;
  }
}
.githublink {
  position: absolute;
  top: 40%;
  left: 45%;
  display: none;
}

.portfolio--section--img:hover {
  border: 2px solid #efdca7;
}
.portfolio--section--img:hover .githublink{
  display: block;
}

.githublogo img{
  width: 30px;
  height: 30px;
}



/* Portfolio Ends */

/* Testimonial */
.testimonial--section {
  display: flex;
  padding: 112px 84.3px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  background-color: var(--bg-shade);
}
.sections--heading {
  color: #efdca7;
}
.testimonial--section--card {
  display: flex;
  padding: 42.6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 42.6px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1.33px solid #006b6a;
}
.testimonial--section--card--reviews {
  display: flex;
  align-items: flex-start;
  gap: 5.33px;
}
.testimonial--section--card--author--detail {
  display: flex;
  align-items: center;
  gap: 21.3px;
}
.testimonial--author--name {
  font-weight: 600;
  color: var(--heading-color);
}
.testimonial--author--designation {
  color: var(--darkblue);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.contact--section{
  margin-top: 50px;
	margin-bottom: 50px;
	padding: 25px 15vw;
	display: flex;

	padding: 50px;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #1d96ec;
	border-bottom: 1px solid #1d96ec;
	text-align: center;
	column-gap: 20px;
}
.calltoaction button{
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  background: #000;
}
.calltoaction .link{
    color: white;
}
/* Contact End */

/* Footer Start */
/* Footer Starts */
.footer--container {
  display: flex;
  padding: 106.667px 85.333px;
  flex-direction: column;
  align-items: flex-start;
  background: var(--bg-shade);
  align-items: center;
  align-self: stretch;
  color: #efdca7;
}
.footer--link--container {
  display: flex;
  justify-content: space-between;
}
.footer--items > ul {
  list-style: none;
  display: flex;
  gap: 42.667px;
  text-decoration: none;
}
.footer--items{
  
}
.footer--items ul > li > a {
  text-decoration: none;
}
.divider {
  margin: 106px 0 42.67px;
  height: 1.333px;
  width: 100%;
  background: rgba(40, 41, 56, 0.55);
}
.footer--content--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.footer--content {
  color: white;
  font-size: 18.667px;
  font-weight: 400;
  line-height: 28px;
}
.footer--content span{
  color: #efdca7;
}

/* Responsive Screens */
@media only screen and (max-width: 1800px) {
  .hero--section--title {
    font-size: 68px;
    line-height: 70px;
  }
  .skills--section--title {
    font-size: 28px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 1600px) {
  .skills--section--heading {
    font-size: 54px;
    line-height: 70px;
  }
  .skills--section--container {
    gap: 16px;
  }
  .skills--section--card {
    gap: 28px;
  }
  .skills--section--card--content {
    gap: 20px;
  }
  .skills--section--title {
    font-size: 23px;
    line-height: 30px;
  }
  .skills--section--description {
    font-size: 17.333px;
    line-height: 27px;
  }
}

@media only screen and (max-width: 1200px) {
  .btn-outline-primary {
    display: none;
  }
  .hero--section {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 70px;
  }
  .hero--section--title,
  .hero--section-description,
  .footer--content {
    text-align: center;
  }
  .skills--section--container,
  .about--section,
  .portfolio--section--container,
  .portfolio--container-box,
  .footer--link--container,
  .footer--items > ul,
  .footer--content--container {
    display: flex;
    flex-direction: column;
  }
  .skills--section,
  .portfolio--container,
  .hero--section--content,
  .hero--section--content--box {
    align-items: center;
  }
  .portfolio--container-box {
    gap: 30px;
  }
  .skills--section,
  .testimonial--section,
  .contact--section,
  .footer--container {
    gap: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .about--section {
    gap: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .testimonial--section--card {
    padding: 25px;
  }
  .hero--section--title,
  .skills--section--heading,
  .sections--heading {
    font-size: 35px;
    line-height: 40px;
  }
  .hero--section--content--box {
    gap: 10px;
  }
  .contact--form--container {
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer--social--icon > ul,
  .footer--items > ul {
    padding: 0;
    align-items: center;
  }
  .divider {
    margin: 20px;
  }
}

/* Hamburger menu  */

.nav__hamburger {
  display: none;
  width: 1.875rem;
  height: 1.313rem;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 40px;
  right: 25px;
}

.nav__hamburger__line {
  display: block;
  height: 0.188rem;
  width: 100%;
  background-color: #000000;
  border-radius: 0.625rem;
  transition: all ease-in-out 0.2s;
}

@media screen and (max-width: 1200px) {
  .nav__hamburger {
    display: flex;
    z-index: 200;
  }
  .nav__hamburger img {
    width: 30px;
    height: 30px;
  }

  .navbar--items {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px);
    background: #0d1224;
    top: -50rem;
    left: 0;
    width: 100%;
    transition: all ease-in-out 0.4s;
  }
  .navbar--items ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 0 0.6rem;
    z-index: -100;
  }
  .navbar--items ul li {
    text-align: center;
  }
  .navbar--items ul li a {
    padding: 0.5rem;
  }
  .navbar--items {
    z-index: -1000;
  }
  .navbar--items.active {
    top: 30px;
  }
}

/* Responsive Screens Ends*/
